---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { homePageContent, aboutPageContent } from "../config";
import Link from "../components/Link.astro";
import Graph from "../components/Graph.astro";
import SocialLinkBox from "../components/SocialLinkBox.astro";
import ResumeItem from "../components/ResumeItem.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import CommunityStampsBoard from "../components/CommunityStampsBoard.astro";

const projects = await getCollection("projects");
const totalProjects = projects.length;
projects.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
projects.splice(2);

const posts = await getCollection("posts");
const totalArticles = posts.length;
posts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
posts.splice(2);

const tools = [];
for (const category of homePageContent.techstack) {
  for (const tool of category.items) {
    tools.push(tool.name);
  }
}
---

<Layout seo={homePageContent.seo}>
  <section class="mt-6 max-w-2xl mx-auto px-6">
    <div class="flex flex-col min-[520px]:flex-row gap-6 mb-8">
      <Image
        src="/logo.webp"
        alt="Face"
        width={100}
        height={100}
        class="rounded-full"
      />
      <div class="group flex flex-col justify-center w-fit">
        <h1 class="font-bold text-3xl mb-1">Matej Bačo</h1>
        <p class="text-[rgba(255,255,255,0.6)]">
          Engineering lead at <img src="https://appwrite.io/assets/logomark/logo.svg" alt="Appwrite logo" class="inline-block ml-1 mr-0.5 transform translate-y-[-2px] h-4" /> <a
            class="hover-underline hover-underline-appwrite text-white"
            href="https://appwrite.io/"
            target="_blank">Appwrite</a
          >
        </p>
      </div>
    </div>
    <p class="max-w-md mb-4">
      I am impact-driven software engineer from Czech Republic in love with
      everything open source.
    </p>
    <Link text="Read my story" href="/about" external={false} />
  </section>

  <section class="mx-auto w-full">
    <div class="max-w-2xl mx-auto px-6">
      <h2 class="mb-8 text-2xl text-[white]">Open source activity</h2>
    </div>
    <div class="relative w-full flex items-center justify-center overflow-hidden">
        <div class="absolute right-0 h-full w-[50px] bg-gradient-to-r from-transparent to-[#121212]" />
        <div class="absolute left-0 h-full w-[50px] bg-gradient-to-l from-transparent to-[#121212]" />
      <Graph />
    </div>
    <div class="mt-4 max-w-2xl mx-auto px-6">
      <Link
        text={`View on GitHub`}
        href={`https://github.com/Meldiron`}
        external={true}
      />
    </div>
  </section>

  <section class="max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 text-lg sm:mb-0 opacity-60 flex-shrink-0">Career path</h2>
    <div>
      <div class="mb-6">
        <p>
          Since the day one I worked remotely, which made me disciplined,
          open-minded, and time-flexible individual.
        </p>
      </div>
      <div class="grid grid-cols-1 group">
        {aboutPageContent.work.items.map((item) => <ResumeItem {...item} />)}
      </div>
      <div class="mt-4">
        <Link text="Download my CV" href="/CV_Matej_Baco.pdf" external={true} />
      </div>
    </div>
  </section>

  <section class="max-w-2xl mx-auto px-6">
    <h2 class="mb-8 text-2xl text-[white]">Latest projects</h2>
    <div class="grid grid-cols-1 gap-4 mb-4">
      {
        projects.map((project) => (
          <a
            class="p-4 rounded-lg border border-white border-opacity-20 hover:border-opacity-30 flex items-center gap-3 group-hover:opacity-30 hover:!opacity-100 transition-opacity"
            href={`/projects/${project.slug}`}
            target="_self"
          >
            <div class="rounded-md flex-shrink-0 p-2 bg-white bg-opacity-5">
              <img
                src={project.data.image.url}
                alt={project.data.image.alt}
                width={30}
                height={30}
              />
            </div>
            <div class="w-full">
              <div class="flex gap-2">
                <p class="text-xl">{project.data.title}</p>
              </div>
              <p class="mt-0.5 opacity-70 text-sm">
                {project.data.description}
              </p>
            </div>
            <div class="rotate-45">
              <Icon name="mdi:arrow-up" />
            </div>
          </a>
        ))
      }
    </div>
    <Link
      text={`View all  ${totalProjects} projects`}
      href="/projects"
      external={false}
    />
  </section>

  <section class="max-w-2xl mx-auto px-6">
    <h2 class="mb-8 text-2xl text-[white]">Latest posts</h2>
    <div class="grid grid-cols-1 gap-4 mb-4">
      {
        posts.map((post) => (
          <a
            href={
              post.data.external ? post.data.external : `/blog/${post.slug}`
            }
            target={post.data.external ? "_blank" : "_self"}
          >
            <p class="text-[rgba(255,255,255,0.6)] mb-2 text-xs">
              {post.data.pubDate.getDate() +
                "." +
                (post.data.pubDate.getMonth() + 1) +
                "." +
                post.data.pubDate.getFullYear()}{" "}
              ·{" "}
              {post.data.external && (
                <span class="text-[#ffffff]">Appwrite</span>
              )}
            </p>
            <div>
              <h3 class="font-medium hover-underline">{post.data.title}</h3>
              <p class="text-sm opacity-60 mt-2 mb-3">
                {post.data.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
    <Link
      text={`View all ${totalArticles} articles`}
      href="/blog"
      external={false}
    />
  </section>

  <section
    class="max-w-2xl mx-auto px-6"
  >
    <h2 class="mb-8 text-2xl text-[white]">Tech experience</h2>

    <div class="space-y-8">
      {
        homePageContent.techstack.map((item) => (
          <div>
            <h3 class="mb-3 text-xl text-[rgba(255,255,255,0.7)]">
              {item.name}
            </h3>

            <div class="grid w-full grid-cols-2 xxs:grid-cols-3 xs:grid-cols-4 md:grid-cols-5 gap-2">
              {item.items
                .map((item) => (
                  <button
                    class="group relative col-span-1 overflow-hidden"
                  >
                    <div class="relative justify-center p-3 px-3 rounded-md border border-white border-opacity-10 flex items-center gap-2 overflow-hidden">
                      <div class="pointer-events-none transition-opacity duration-500 group-hover:opacity-50 absolute right-0 h-full w-[25px] bg-gradient-to-r from-transparent to-[#121212] via-[#121212]" />

                      <div class="flex-strink-0 group-hover:opacity-0 group-hover:ml-[-25px] transition-all duration-500">
                        <Icon
                          class={`${item.invert ? "invert" : ""}`}
                          name={item.icon}
                          width={20}
                          height={20}
                        />
                      </div>
                      <p class="text-sm line-clamp-1">{item.name}</p>
                    </div>
                  </button>
                ))}
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <section class="max-w-2xl mx-auto px-6">
    <h2 class="mb-8 text-2xl text-[white]">Community stamps</h2>
    <div class="mb-4">
      <CommunityStampsBoard />
    </div>
  </section>

  <section class="max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 text-lg sm:mb-0 opacity-60 flex-shrink-0">Let's connect</h2>
    <div>
      <div class="mb-6">
        Reach out to me to collaborate on a fun project, build an integration,
        write an article, or just to say hi.
      </div>
      <div class="grid grid-cols-2 gap-2 group">
        {
          aboutPageContent.connect.links.map((item) => (
            <SocialLinkBox {...item} />
          ))
        }
      </div>
      <div class="mt-6">
        You can also leave me a message and I'll get in touch with you. Let's do
        something amazing together!
      </div>
      <div>
        <form
          class="bg-neutral-900 mt-4 p-3 rounded-lg border border-neutral-700 flex flex-col gap-3"
          action="https://formbin.almostapps.eu/s/67b1fb59002fe3c932ff"
          method="POST"
          enctype="multipart/form-data"
        >
          <div
            id="contact-success"
            style="display: none;"
            class="bg-green-950 rounded-lg p-3 border border-green-800"
          >
            <p class="text-green-200 font-semibold text-center">
              Thanks for your message!
            </p>
          </div>

          <div>
            <p class="opacity-60 text-sm mb-2">E-mail address:</p>
            <input
              required
              type="email"
              class="focus:outline-none focus:border-neutral-500 w-full px-4 py-2 bg-neutral-800 border border-neutral-700 text-white rounded-lg placeholder-neutral-500"
              name="sender"
              placeholder="you@example.com"
            />
          </div>

          <div>
            <p class="opacity-60 text-sm mb-2">Message:</p>
            <textarea
              rows="4"
              required
              class="focus:outline-none focus:border-neutral-500 w-full px-4 py-2 bg-neutral-800 border border-neutral-700 text-white rounded-lg placeholder-neutral-500"
              name="message"
              placeholder="Enter your text..."></textarea>
          </div>

          <div class="-mt-1.5">
            <cap-widget
              data-cap-api-endpoint="https://formbin.almostapps.eu/captcha/67b1fb59002fe3c932ff/"
            ></cap-widget>
          </div>

          <button
            type="submit"
            class="bg-neutral-800 py-2 rounded-lg text-white">Send</button
          >
        </form>
        <p class="mt-3 text-sm mb-2 text-center">
          <span class="opacity-60 inline-block">Powered by</span>
          <a href="https://formbin.almostapps.eu/" target="_blank">
            <img
              src="/formbin.svg"
              class="inline-block ml-1 mr-1 transform translate-y-[-2px]"
              width="12"
            /><span class="inline-block text-[#F06225]">FormBin</span></a
          >
          <span class="-ml-1 opacity-60 inline-block"
            >, one of my side projects.</span
          >
        </p>
      </div>
    </div>
  </section>
</Layout>

<script>
  let hash = window.location.hash;
  hash = hash.substring(1); // Remove #

  if (hash === "contact-success") {
    const el = document.querySelector("#contact-success") as any;

    el.style.display = "block";
    el.scrollIntoView();
    history.pushState(
      "",
      document.title,
      window.location.pathname + window.location.search,
    );
  }
</script>
