---
interface Props {
  year?: number;
}

type ContributionDay = {
  color: string;
  contributionCount: number;
  date: string;
  weekday: number;
};
type Week = {
  contributionDays: ContributionDay[];
  firstDay: string;
};
type Weeks = Week[];

async function getContributions(
  token: string,
  username: string,
  year: number | null = null,
) {
  const headers = {
    Authorization: `bearer ${token}`,
  };
  const fromDate = `${year}-01-01T00:00:00Z`;
  const toDate = `${year}-12-31T23:59:59Z`;

  let query = `contributionsCollection() {`;
  if (year) {
    query = `contributionsCollection(from: "${fromDate}", to: "${toDate}") {`;
  }

  const body = {
    query: `query {
              user(login: "${username}") {
                name
                ${query}
                  contributionCalendar {
                    colors
                    totalContributions
                    weeks {
                      contributionDays {
                        color
                        contributionCount
                        date
                        weekday
                      }
                      firstDay
                    }
                  }
                }
              }
            }`,
  };
  const response = await fetch("https://api.github.com/graphql", {
    method: "POST",
    body: JSON.stringify(body),
    headers: headers,
  });
  const data = await response.json();
  return data;
}

const currentYear = new Date().getFullYear();

const weeks: Weeks[] = [];

weeks.push(
  ...(
    await getContributions(
      import.meta.env.PRIVATE_GITHUB_TOKEN,
      "Meldiron",
      currentYear - 4,
    )
  ).data.user.contributionsCollection.contributionCalendar.weeks,
);

weeks.push(
  ...(
    await getContributions(
      import.meta.env.PRIVATE_GITHUB_TOKEN,
      "Meldiron",
      currentYear - 3,
    )
  ).data.user.contributionsCollection.contributionCalendar.weeks,
);

weeks.push(
  ...(
    await getContributions(
      import.meta.env.PRIVATE_GITHUB_TOKEN,
      "Meldiron",
      currentYear - 2,
    )
  ).data.user.contributionsCollection.contributionCalendar.weeks,
);

weeks.push(
  ...(
    await getContributions(
      import.meta.env.PRIVATE_GITHUB_TOKEN,
      "Meldiron",
      currentYear - 1,
    )
  ).data.user.contributionsCollection.contributionCalendar.weeks,
);

weeks.push(
  ...(
    await getContributions(
      import.meta.env.PRIVATE_GITHUB_TOKEN,
      "Meldiron",
      currentYear,
    )
  ).data.user.contributionsCollection.contributionCalendar.weeks,
);

const colorData: any = {};
const today = new Date().toISOString().split("T")[0];

let week = 0;
let day = 0;
let totalWeeks = 0;
weeks.forEach(({ contributionDays }: any) => {
  contributionDays.forEach(({ contributionCount, date }: any) => {
    if (date > today) return;

    let contributionsColor = "rgba(255, 255, 255, 0.05)";

    if (contributionCount >= 15) {
      contributionsColor = "#39d353";
    } else if (contributionCount >= 10) {
      contributionsColor = "#26a641";
    } else if (contributionCount >= 5) {
      contributionsColor = "#006d32";
    } else if (contributionCount >= 1) {
      contributionsColor = "#0e4429";
    }

    if (contributionsColor === "#ebedf0") {
      contributionsColor = "rgba(255, 255, 255, 0.05)";
    }

    let daySlot = day + 1;
    if (day === 6) {
      daySlot = 0;
    }

    colorData[`week-${week}-day-${daySlot}`] = contributionsColor;

    day++;
    if (day === 7) {
      day = 0;
      week++;
      totalWeeks = week;
    }
  });
});
// Account for a partial final week
if (day > 0) {
  totalWeeks = week + 1;
}
---

<section>
  {
    weeks.length > 0 && (
      <div id="contributions" class="flex gap-1">
        {Array.apply(null, Array(totalWeeks)).map((_week, i) => {
          return (
            <div class={`flex-col gap-1 flex`}>
              {Array.apply(null, Array(7)).map((_day, j) => {
                const color = colorData[`week-${i}-day-${j}`];
                return color ? (
                  <div
                    class="h-2 w-2 lg:h-3 lg:w-3 rounded-[1px] sm:rounded-sm"
                    style={`background-color: ${color}`}
                  />
                ) : (
                  <div class="h-2 w-2 lg:h-3 lg:w-3" />
                );
              })}
            </div>
          );
        })}
      </div>
    )
  }
</section>
