---
import { navBarLinks } from "../config";
import type { SEOInfo } from "../types/config";
import { ViewTransitions } from "astro:transitions";

interface Props {
  seo: SEOInfo;
}

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={seo.image} />
    <ViewTransitions />
    <script is:inline src="https://cdn.jsdelivr.net/npm/appwrite@17.0.0"
    ></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="9cd0e69d-273d-4bbb-88eb-4f10a5019bcd"></script>
  </head>
  <body>
    <header>
      <div
        class="px-6 py-6 max-w-2xl mx-auto flex items-center justify-between"
      >
        <nav>
          <ul>
            {
              navBarLinks.map((link) => (
                <li class="inline pr-3">
                  <a
                    class="opacity-60 hover:opacity-100 hover-underline transition-all"
                    href={link.url}
                    target={link.external ? "_blank" : "_self"}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </header>
    <main class="mb-20 space-y-14">
      <slot />
    </main>
    <footer></footer>
    
    <script is:inline src="/cap.min.js"></script>
  </body>
</html>

<style is:global>
    @import url(https://fonts.bunny.net/css?family=abhaya-libre:400,500|inter:200,200i,400,400i,600,600i,800,800i);

  html {
    font-family: "Inter", sans-serif;
    background: #121212;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: #eeeeee;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .hover-underline {
    text-decoration: underline 1px rgba(0, 0, 0, 0);
    text-underline-offset: 5px;
    transition: text-decoration-color 300ms;
  }

  .hover-underline:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
  }

  .hover-underline-appwrite:hover {
    text-decoration-color: #fd366e !important;
  }

  .project-article h1,
  .project-article h2,
  .project-article p,
  .project-article ul,
  .project-article hr {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
  }

  .project-article p:has(img) {
    max-width: 56rem !important;
  }

  .project-article img {
    cursor: pointer;
  }
  
  cap-widget {
      --cap-background: #262626;
      --cap-border-color: #404040;
      --cap-checkbox-background: #171717;
      --cap-checkbox-border: 1px solid #404040;
      --cap-color: white;
      --cap-spinner-color: #d4d4d4;
      --cap-spinner-background-color: #404040;
  }
</style>
